* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.main {
    width: 100%;
    height: 100%;
    background-color: rgb(141, 112, 73);
    display: flex;
  
}
nav{
    /* background-color: red; */
    width: 270px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px;
    
}
nav img{
  width: 60px;
}
nav h3{
color: #fff;
}

.div h1 {
    /* background-color: red; */
    position: absolute;
    width: max-content;
    z-index: 1;
    font-size: 70px;
    transform: rotate(90deg);
    transform-origin: 10% 80%;
    right: -37%;
    letter-spacing: 10px;
    -webkit-text-stroke-color: #fff;
    -webkit-text-stroke-width: 2px;
    color: transparent;
    
}

#left {
    width: 30%;
    height: 100%;
    background-color: rgb(0, 0, 0);
}

#center {
    width: 60%;
    height: 100%;
    background-color: red;
    background-image: url(model.avif);
    background-size: cover;
    background-position: 0 -180px;
    filter: contrast(120%);
}

.overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.314);

}

#right {
    width: 10%;
    height: 100%;
    background-color: rgb(0, 0, 0);
}

.box {
    width: 400px;
    /* height: 300px; */
    /* background-color: red; */
    color: red;
    position: absolute;
    top: 50%;
    left: 7%;
    transform: translate(0, -50%);
    color: #fff;
    font-size: 35px;
    font-family: monospace;
    font-style: italic;
    line-height: 70px;
    letter-spacing: 20px;
}

.chota-image {
    width: 200px;
    height: 300px;
    background-color: blue;
    position: absolute;
    right: 9%;
    top: 25%;
    background-image: url(model2.avif);
    background-position: center;
    background-size: cover;
    border-radius: 30px;
}
@media (max-width: 600px) {

    body, html {
        overflow: auto;
    }

    nav {
        width: 50%;
        margin: 20px;
        z-index: 1;
    }

    nav img {
        width: 40px;
    }

    nav h3 {
        font-size: 16px;
    }

    /* rotated heading */
    .div h1 {
        font-size: 35px;
        right: -65%;
        letter-spacing: 5px;
        transform-origin: 0 50%;
        
    }

    .main {
        flex-direction: column;
        height: auto;
    }

    #left,
    #right {
        display: none;
    }

    #center {
        width: 100%;
        height: 60vh;
        background-position: center;
    }

    .overlay {
        width: 100%;
        height: 100%;
    }

    /* BOX TEXT */
    .box {
        position: static;
        width: 100%;
        margin-top: 20px;
        text-align: center;
        font-size: 24px;
        line-height: 40px;
        letter-spacing: 8px;
        transform: none;
    }

    /* SMALL IMAGE (BOTTOM IMAGE) */
    .chota-image {
        position: static;
        margin: 20px auto;
        width: 70%;
        height: 250px;
        border-radius: 20px;
      
    }
}
